.pricing_items {

    margin-bottom: 30px;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    width: 677px;
}

.pricing_item {
    color: #333333;
    float: left;
    position: relative;
    width: 169px;
    z-index: 0;
}

.pricing_item h1 {
    border-bottom: 1px solid #8D8D8D;
    border-right: 1px solid #2B2B2B;
    padding: 10px 22px;
    text-align: center;
    background: -moz-linear-gradient(centre top, #00adee, #0078a5) repeat scroll 0 0 transparent;

}

.signup {
    border-bottom-left-radius: 7px;
    border-left: 0 none;
    padding: 12px 0;
}

.pricing_item .signup a.button {
    margin: 0 auto;
}

