<h1>GTDTodos</h1>
<p>
  This is GTDTodos an app that follows the principles of GTD by David Co. As well as a list manager this will also guide you through the Process and Review stages to make life easier.
</p>

