<div>
  <div>
    <h1>Free</h1>
    <h2>£0 a month</h2>
    <h3></h3>
    <ul class="list">
      <li></li>
      <li></li>
    </ul>
    <%= link_to '',  %>
  </div>
  <div>
    <h1>Paid</h1>
    <h2>£9.99 a month</h2>
    <h3></h3>
    <ul class="list">
      <li></li>
      <li></li>
    </ul>
    <%= link_to '',  %>
  </div>
  <div>
    <h1></h1>
    <h2></h2>
    <h3></h3>
    <ul class="list">
      <li></li>
      <li></li>
    </ul>
    <%= link_to '',  %>
  </div>
</div>

