<tr>
  <td><%= link_to project.title, project %></td>
  <td><%= project.status %></td>
  <td><%= link_to 'delete', project, :method => :delete, :confirm => "You sure?", :remote => true %></td>
</tr>

