<% content_for :head do %>
  <%= javascript_include_tag 'forms' %>
<% end -%>

<div class="columns top">
  <%= render :partial => "form", :locals => {:form_title => "New Project"} %>
</div>
<%= current_user.email %>

