<div class="columns top">
  <div class="grid_6 first">
    <div class="panel">
      <header>
        <h2><%= @project.title %></h2>
      </header>
      <section>
        <p>Status: <%= @project.status %></p>
        <p>Outcome: <%= @project.outcome %></p>
      </section>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>

