<footer id="page-footer">
  <div id="footer-inner">
    <p class="wrapper">
      <span style="float: right">
        <%= link_to "About", about_path %>
         | <%= link_to "Contact", contact_path %>
      </span>
      &copy; 2011 All rights reserved. <a href="http://www.simplapps.co.uk/">SimplApps</a>.
    </p>
  </div>
</footer>

